{
	git {
		repo site {
			base_dir /usr/local/src
			url {$REPO}
			branch main
			update every {$INTERVAL:30}
			post pull exec {
				name hugo
				command /usr/local/bin/build.sh
			}
		}
	}
}

:80 {
	root * /srv
	file_server
}
